
/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates;wght@350;700&family=Montserrat:wght@300;700&family=Nanum+Pen+Script&display=swap');

body{
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

img {
  width: 50%;
  height: 90%;
}

img.rounded {
  border-radius: 8px;
}

main h2 {
  font-size: 28px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400px;
}

main h3 {
  font-size: 22px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}

main p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 0em;
}

/* Header */

header {
  background-color: #121ec2;
  margin-bottom: 40px;
  display: block;
}

header h1 {
  color: #eff0e5;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 56px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 5;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #eff0e5;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-family: 'Nanum Pen Script', cursive;
}

/* Main */

main .wrapper h2 {
  padding-left: 10px;
  margin-bottom: 10;
  text-align: center;
}

main .intro {
  font-size: 24px;
  color: #6b655b;
}

/* Groups & Items (Mobile First) */
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}



.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups & Items (Desptop) */

@media all and (min-width: 600px) {
  .wrapper {
    width: 100%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}

/* ARTICLE SECTIONS */

#home, #portfolio {
  margin-bottom: 100px;
}

/* ABOUT and CONTACT ARTICLE */

#about, #contact {
  background-color: #89b5da;
  padding: 20px 0 30px 0;
  margin: 50px 0;
}

/* CONTACT FORM DESIGN */
form input, form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 275px;
}